body {
    color: #F7F6F2;
    background-image: linear-gradient(#183E58, #328CAB);
    background-repeat: no-repeat;
}

#balance {
    width: 550px;
    margin: auto;
}

#topbar {
    background-color: #F6F5F1;
    color: #003060;
    display: flex;
    justify-content: space-between;
    margin: 1rem 5px;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.text {
    margin-top: 18px;
}

.current-balance {
    width: 160px;
    padding: 5px 8px;
    background-image: linear-gradient(#0D426B, #0D426B);
    border-radius: 5px;
    background-repeat: no-repeat;
}

.pay-methods {
    width: 230px;
    border-radius: 5px;
    padding: 5px 10px;
    margin: auto;
    background-color: #002F5F;
    color: #F7F6F2;
    font-size: smaller;
}

.payment-image {
    margin: 5px 0;
    border-radius: 5px;
}

.contact-info{
    color: #003060;
}